{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<div class='row'>
  <div class='col-sm-12'>
    <div class="centre">
      <h2>Frequently Asked Questions (FAQs)</h2>
    </div>
  </div>
</div>
<!-- First FAQ Row -->
<div class='row'>
  <p></p>
</div>
<div class='row'>
  <p></p>
</div>
<div class='row'>
  <div class='col-sm-1'>
  </div>
  <div class='col-sm-3'>
    <div class="centre">
     <h4>How do I login?</h4>
     </div>
    <p>Visit the login page, and sign in with the credentials provided to you by a Supervisor. If you do not have any credentials, or your credentials do not work, speak to your Supervisor to request an account creation or a password reset.</p>
  </div>
  <div class='col-sm-4'>
    <div class="centre">
     <h4>How do I update the chart data?</h4>
     </div>
    <p>Download the <a href="{% static "dashboard/Employee Statistics.xlsx" %}" download>attached</a> spreadsheet, then update the placeholder names and data to the required values. Once updated, export the spreadsheet as a .CSV file format, then visit the website's Settings page, while signed in with an Admin/Supervisor level account. Choose the .CSV file to upload, then press Upload. The chart changes to the Dashboard and Leaderboard should now take effect. You can also update individual statistics through the admin page, through the 'User Data' link. </p>
  </div>
  <div class='col-sm-3'>
    <div class="centre">
     <h4>There was an error with the .CSV file upload?</h4>
     </div>
    <p>Make sure there are no blank spaces or additional data, outside of the colour-coded spreadsheet area before exporting. Also, make sure entered data is formatted correctly, and spreadsheet functions are maintained. For example, the total score or rank functions may need to be updated, if users are added or removed from the spreadsheet.</p>
  </div>
</div>
<!-- Second FAQ Row -->
<div class='row'>
  <p></p>
</div>
<div class='row'>
  <p></p>
</div>
<div class="row">
  <div class='col-sm-1'>
  </div>
  <div class='col-sm-3'>
    <div class="centre">
      <h4>How do I add/remove users from charts?</h4>
     </div>
    <p>To add a new user, add their name and all of their statistics to a new row within the spreadsheet, in the same format as current users. Make sure to update the total score and rank functions to include the newly added row. Also, make sure that the name entered for the user is unique, for example if there were two users named Chris, you could name one Chris A and the other Chris B</p>
    <p>To remove an exisiting user, delete the row with all of their data within the spreadsheet. Make sure to update the total score and rank functions to exclude the removed row.</p>
 </div>
 <div class='col-sm-4'>
   <div class="centre">
    <h4>How do I create/delete accounts for the website?</h4>
    </div>
   <p>To create a new account, while signed in with an Admin/Supervisor level account, visit the admin page. Click the 'Users' link, then press 'Add User +' and enter the username and password for the new user. Tick 'Staff' and 'Superuser' status permissions if the user is a Supervisor, otherwise just leave the 'Active' permission ticked then press 'Save' to create the account. </p>
   <p>To delete an account, while signed in with an Admin/Supervisor level account, visit the admin page. Click the 'Users' link, then tick the box next to the targeted user's name. In the action drop-down box, choose 'delete selected users' then press 'Go' to delete the selected accounts.</p>
</div>
<div class='col-sm-3'>
  <div class="centre">
   <h4>How do I reset account passwords?</h4>
   </div>
  <p>To reset an account password, while signed in with an Admin/Supervisor level account, visit the admin page. Click the 'Users' link, then click the targeted user's name. In the password box, click the 'this form' link, then enter the new password.</p>
</div>
</div>
<!-- Data Privacy Row -->
<div class='row'>
  <p></p>
</div>
<div class='row'>
  <div class='col-sm-12'>
    <div class="centre">
      <h2>Data Privacy Statement</h2>
      <p>Data entered into the website will only be used within the website, and will not be shared with anyone else. Only strictly necessary personal data is required - any data that isn't relevant to the website and its functionality is not required at all. If you do not want your statistics to be displayed within this website, speak to your Supervisor, who will be able to remove your information from the website entirely.</p>
    </div>
  </div>
</div>
{% endblock content %}
