{% extends 'dashboard/base.html' %}
{% block content %}
<title>Leaderboard</title>
<div class='row'>
  <div class='col-sm-2'>
    </div>
    <div class='col-sm-8'>
        <canvas id="myChart" width="300" height="120"></canvas>
          <script>
          var ctx = document.getElementById('myChart').getContext('2d');
          var myChart = new Chart(ctx, {
              type: 'horizontalBar',
              data: {
                  labels: {{ names|safe }},
                  datasets: [{
                      label: 'Total Score',
                      data: {{ total_score|safe }},
                      backgroundColor: [
                          'rgba(255, 99, 132, 1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',
                          'rgba(75, 192, 192, 1)',
                          'rgba(153, 102, 255, 1)',
                          'rgba(255, 159, 64, 1)',
                          'rgba(255, 99, 132, 1)',
                          'rgba(54, 162, 235, 1)',
                          'rgba(255, 206, 86, 1)',

                      ],
                  }]
              },
              options: {
                legend: {
                display: false
              },
                  scales: {
                      yAxes: [{
                        gridLines: {
                display:false
            },
                        scaleLabel: {
                          display: true,
                          labelString: "Total Score of Agent",
                          ticks: {
                              beginAtZero: true, precision:0
                            }
                          }
                      }]
                  }
              }
          });
          </script>
        </div>
    </div>
<div class='row'>
  <div class="col-sm-4">
    </div>
    <div class='col-sm-4'>
      <div class="centre" data-toggle="tooltip" title="Total score is calculated by adding together all individual statistics (e.g. calls taken & tickets closed), then removing 50 points for each breached ticket">
        <h2>Current Champion is:</h2>
        <h2>{{print_winner}}</h2>
        <small class="text-muted">*Total Score is calculated by adding together all individual statistics (e.g. calls taken & tickets closed), then removing 50 points for each breached ticket</small>
        </div>
      </div>
  </div>
{% endblock content %}
