{% extends 'dashboard/base.html' %}
{% block content %}
<title>Import</title>
  {% if user.is_superuser %}
    {% if messages %} <!-- If there are pending error messages -->
      <ul class="messages">
        {% for msg in messages %}
          <li>
              <div class="alert alert-{{msg.level_tag}}" role="alert">
              {{msg.message}}
              </div>
          </li>
        {% endfor %}
      </ul>
    {% else %} <!-- Create CSV upload form -->
    <div class='row'>
      <div class='col-sm-12' data-toggle="tooltip" title="To update statistics, export the updated 'employee statisics' spreadsheet as a .CSV file, then upload the new file here">
        <div class="centre">
      <form method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        <h2>Update User Statistics</h2>
        <input type="file" name="file">
        <button type="submit">Upload</button><a> File must be in .CSV format</a>
      </form>
        </div>
    </div>
    {% endif %}
  {% else %} <!-- If user isn't a superuser -->
    <div class='row'>
      <div class='col-sm-12'>
        <div class="centre">
          <h2>Admin Access Required to Update User Statistics</h2>
        </div>
      </div>
    </div>
    </div>
   {% endif %}
  {% endblock content %}
